<h1>Edit training</h1>

<ul>
  <%= @training.name %>
  <%= @training.start_at %>
  <%= @training.duration_in_minutes %>
</ul>

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="exercises_list">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<%= render "exercises/exercises_list" %>
