<h1>Edit training</h1>

<ul>
  <%= @training.name %>
  <%= @training.start_at %>
  <%= @training.duration_in_minutes %>
</ul>

<% @exercises.each do |exercise| %>
  <ul>
    <li><%= exercise.name %></li>
  </ul>
  <% end %>

  <% @selected_exercises %>

