// Specific CSS for your home-page
body.pages-home{
  background-color: #333333;
}
.home {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://res.cloudinary.com/dv7b712cp/image/upload/v1580242546/Hello%20Arsene/hello-arsene-home.jpg') no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.pages-home .navbar-lewagon {
  display: none;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.home-container {
  margin-top: 100px;
  margin-bottom: 150px;
}
.home-title {
  font-size: 80px;
  font-family: titillium web;
  position: absolute;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px white;
  margin-top: 0px;
  font-weight: bold;
}

.home-title:hover {
  font-size: 80px;
  font-family: titillium web;
  position: absolute;
  color: white;
}

.home-subtitle {
  font-size: 30px;
  font-family: titillium web;
  color: white;
  position: absolute;
}

.row-homepage {
    padding: 50px;
    margin: 1%;
}

.filter {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.5);
}

.logo-wrapper {
  padding: 10px;
  text-align: center;
}

.main-section {
    position: relative;
    width: auto;
    max-width: 100%;
    margin-top: 75px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 0;
    text-align: center;
    background-color: #222222;
    transform: skewY(-4.5deg);
}


.references h3{
  color: white;
  font-family: titillium web;
  font-weight: bold;
  padding: 20px;
}

.logo {
  padding: 20px;
}

.logo-container {
  padding: 15px;
}

.main-section2 {
 position: relative;
 width: 100%;
 height: 100%;
 margin-top: 0;
 margin-right: auto;
 margin-left: auto;
 padding-bottom: 40px;
 text-align: center;
 background-color: #333333;
 transform-origin: right top;
 transform: skewY(4.5deg);
 background: #333333;
}

.big-paragraph {
  margin-top: 20px;
  color: white;
  padding: 30px;
  transform: skewY(-4.5deg);
}

.big-paragraph h2{
  margin-bottom: 30px;
}

.row-paragraph {
  color: white;
  padding: 30px;
  transform: skewY(-4.5deg);
}

.row-homepage-bottom {
  padding: 50px;
}

.paragraph-img img{
border-radius: 5px;
box-shadow: 2px 2px 10px rgba(0,0,0,.4), 2px 2px 15px rgba(0,0,0,.2);
}


.paragraph-description {
  font-size: 1.2em;
  font-weight: 700;
  text-align: left;
  padding: 50px;
}

.paragraph-description-left {
  font-size: 1.2em;
  font-weight: 700;
  text-align: right;
  padding: 50px;
}

.paragraph-description h3{
  font-size: 1.6em;
  font-weight: 700;
  text-align: left;
  color: #1EDD88;
}

.paragraph-description-left h3{
  font-size: 1.6em;
  font-weight: 700;
  text-align: right;
  color: #1EDD88;
}

.paragraph-description p{
  margin: 0px;
}

.paragraph-description-left p{
margin: 0px;
}
.testimonies-wrapper {
  font-weight: 400;
  text-align: left;
  text-size-adjust: 100%;
  cursor: default;
  text-rendering: optimizeLegibility;
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  font-family: "titillium web",sans-serif;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  border-style: solid;
  border-width: 0;
  padding: 0;
  margin: 0 auto;
  display: flex;
  width: 65rem;
  max-width: 65rem;
  justify-content: center;
  transform: skewY(-4.5deg);
}

.media--testimony{
  font-weight: 400;
  text-align: left;
  text-size-adjust: 100%;
  cursor: default;
  text-rendering: optimizeLegibility;
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: white;
  font-family: "titillium web",sans-serif;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  border-style: solid;
  border-width: 0;
  padding: 1rem;
  background-color: #222222;
  border-radius: .4rem;
  flex-direction: column;
  align-items: flex-start;
  display: block;
  flex-basis: calc(100% / 3);
  width: 30%;
  margin: 0 1rem;
  box-shadow: 2px 2px 10px rgba(0,0,0,.4), 2px 2px 15px rgba(0,0,0,.2);
}

.media__figure {
  font-weight: 400;
  text-align: left;
  text-size-adjust: 100%;
  cursor: default;
  text-rendering: optimizeLegibility;
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  font-family: "titillium web",sans-serif;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  border-style: solid;
  border-width: 0;
  padding: 0;
  margin: 1rem auto;
}

.avatar--medium {
  font-weight: 400;
  text-align: left;
  text-size-adjust: 100%;
  cursor: default;
  text-rendering: optimizeLegibility;
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  font-family: "titillium web",sans-serif;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  padding: 0;
  position: relative;
  display: block;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #26314d;
  height: 6rem;
  width: 6rem;
  overflow: hidden;
  margin: 0 auto;

}


.media__body {
  font-weight: 400;
  text-size-adjust: 100%;
  cursor: default;
  text-rendering: optimizeLegibility;
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  font-family: "titillium web",sans-serif;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  border-style: solid;
  border-width: 0;
  margin: 0;
  padding: 0;
  flex: 1;
  transition: all cubic-bezier(0.22,0.61,0.36,1) .3s;
  margin-bottom: 0;
  text-align: center;
  max-width: 100%;
}

.user__name {
  text-size-adjust: 100%;
  cursor: default;
  text-rendering: optimizeLegibility;
  text-align: center;
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  font-family: "titillium web",sans-serif;
  font-style: inherit;
  line-height: inherit;
  border-style: solid;
  border-width: 0;
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: white;
  font-size: 1.3125em;
}

.user__team {
  text-size-adjust: 100%;
  cursor: default;
  text-rendering: optimizeLegibility;
  text-align: center;
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  font-family: "titillium web",sans-serif;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  border-style: solid;
  border-width: 0;
  margin: 10px;
  padding: 0;
  font-weight: 200;
  opacity: .8;
  color: white;
}

.user__testimony {
  text-size-adjust: 100%;
  cursor: default;
  text-rendering: optimizeLegibility;
  text-align: center;
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  font-family: "titillium web",sans-serif;
  font-size: inherit;
  line-height: inherit;
  border-style: solid;
  border-width: 0;
  margin: 0;
  padding: 0;
  quotes: "\201C" "\201D";
  font-style: italic;
  margin-top: 1rem;
  font-weight: 200;
  color: white;
}

.testimonials {
  padding: 50px;
  background: #222222;
}
.testimonials h2{
  margin-top: 20px;
  font-family: "titillium web",sans-serif;
  transform: skewY(-4.5deg);
  color: white;
  font-weight: bold;
}
