// Specific CSS for your home-page
.home {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://res.cloudinary.com/dv7b712cp/image/upload/v1580242546/Hello%20Arsene/hello-arsene-home.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.home-title {
  font-size: 80px;
  font-family: helvetica-bold;
  position: absolute;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px white;
}

.home-subtitle {
  font-size: 30px;
  font-family: helvetica-bold;
  color: white;
  position: absolute;
}

.row {
  padding: 50px;
  margin: 5%;
}

.filter {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.5);
}

