.joke-container {
  padding: 120px 0;
  height: 100%
}

.joke-container-text {
  font-family: titillium web;
  font-size: 1.8em;
  font-weight: 700;
  color: white;
  padding-top: 100px;
  position: relative;
  left: 50px;
  width: 550px;
}

.joke-container-text p{
  max-width: none;
  padding:0px;
}

.joke-container-2 {
  background-color: #333333;
}
