.joke-container {
  padding: 200px 0;
  height: 100%
}

.joke-container-text {
  font-family: titillium web;
  font-size: 2em;
  font-weight: 700;
  color: white;
  padding-top: 200px;
  margin-top: 100px;
}

.joke-container-text p{
  max-width: none;
  padding:0px;
}
