.row-last-trainings-container{
  margin-top: 50px;
  background: #222222;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.row-last-trainings-container a {
  color: white;
  text-decoration: none;
}
.row-last-trainings-container a:hover {
  color: #222222;
  text-decoration: none;
}

.col-trainings-button{
  text-align: right;
  margin: 10px;
  max-width: 40%;
}

