.row-last-trainings-container {
  background: #222222;
  color: white;
  border-radius: 1px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.row-last-trainings-container a {
  color: white;
  text-decoration: none;
}
.row-last-trainings-container a:hover {
  color: #222222;
  text-decoration: none;
}

.col-trainings-button{
  text-align: right;
  margin: 10px;
  max-width: 40%;
}

.col-trainings {
  margin-top: 23px;
}
