.training-header {
  margin-left: 50px;
}
.training-container {
   position: relative;
   width: 100%;
   height: 100%;
   margin-top: 0;
   margin-right: auto;
   margin-left: auto;
   padding-top: 40px;
   padding-bottom: 40px;
   background-color: #333333;
   transform-origin: right top;
   transform: skewY(4.5deg);
   background: #333333;
   box-shadow: 0px -15px 25px -15px rgba(0, 0, 0, 0.8);
}

.row-header-training {
  color:white;
  padding: 30px;
  transform: skewY(-4deg);
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
}

.row-header-training h2 {
  margin-bottom: 20px;
}

.lien_app {
  margin-top: 15px;
  margin-left: -230px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.4), 2px 2px 15px rgba(0,0,0,.2);
}

.row-training {
  color:white;
  padding: 30px;
  transform: skewY(-4deg);
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 50px;
}

body.trainings-show {
  background-color: #333333;
}


.card-training {
  overflow: hidden;
  background: #3e3e3e;
  box-shadow: 2px 2px 10px rgba(0,0,0,.4), 2px 2px 15px rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  margin-right: 50px;
  max-width: 65%;
}

.card-training img {
  height: 100%;
  object-fit: cover;
}

.card-training h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  border: 1px solid #1EDD88;
  padding: 10px;
  border-radius: 3px;
}

.card-training h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

.card-training h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
}

.card-training h5 {
  font-size: 10px;
  font-weight: bold;
  margin: 20px;
}

.card-training p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-training .card-training-infos {
  padding: 16px;
}

.col-training h3{
  margin-left: 10px;
}

.training-title {
  text-align: left;
}

// .exercise-cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-gap: 16px;
//   background-color: white;
// }
// .exercise-card {
//   color: white;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   text-align: center;
// }
body.trainings-edit {
  background-color: #333333;
  color: white;
}
.card-exercise:hover {
  min-height: 105px;
  border-radius: 5px;
  background: linear-gradient(to bottom right, #525252, #333333);
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.4), 2px 2px 15px rgba(0,0,0,.2);
  color: #DEDEDE;
}
.card-exercise {
  min-height: 105px;
  border-radius: 5px;
  background: #3E3E3E;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.4), 2px 2px 15px rgba(0,0,0,.2);
}
.card-exercise h6 {
    font-size: 15px;
}
.tag {
  font-size: 8px;
}
.jeu-devant-le-but {
  border: solid 1px #FC5050;
  border-radius: 6px;
  color: #FC5050;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
.phases-offensives {
  border: solid 1px #FFD00C;
  border-radius: 6px;
  color: #FFD00C;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
.echauffement {
  border: solid 1px #FF008E;
  border-radius: 6px;
  color: #FF008E;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
.tactique {
  border: solid 1px #82C7EB;
  border-radius: 6px;
  color: #82C7EB;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
.conservation {
  border: solid 1px #FF5722;
  border-radius: 6px;
  color: #FF5722;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
.opposition {
  border: solid 1px #DFE38E;
  border-radius: 6px;
  color: #DFE38E;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
.technique {
  border: solid 1px #7FE7CC;
  border-radius: 6px;
  color: #7FE7CC;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
.phases-défensives {
  border: solid 1px #79A8A9;
  border-radius: 6px;
  color: #79A8A9;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
.prépa-physique {
  border: solid 1px #FFFFFF;
  border-radius: 6px;
  color: #FFFFFF;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
.card-exercise-details {
  overflow: hidden;
  height: 120px;
  width: 500px;
  margin: 20px;
  background: #3E3E3E;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-right: 16px;
}
.card-exercise-details:hover {
  background: linear-gradient(to bottom right, #525252, #333333);
}
.card-exercise-image {
  overflow: hidden;
}
.card-exercise-details img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  filter: grayscale(.8);
  transition: all 0.5s ease-in-out;
  transform-origin: 50%;
  object-position: center;
  margin-right: 25px;
}
.card-exercise-details:hover img {
  filter: grayscale(0);
  height: 104%;
  // transform: scale3d(1.03, 1.03, 1.03);
  transform-origin: 50%;
  transition: all 0.5s ease-in-out;
}
.card-exercise-details h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #DFD3D3;
}
.card-exercise-details p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.card-exercise-details .card-exercise-infos {
  text-align: left;
  width: 360px;
}

.card-exercise-infos h3{
font-size: 1em;
}

.duration{
  text-align: right;
  color: #1EDD88;
}


.progress-bar-container {
  z-index: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4em;
}

.button-training-2 a {
  box-shadow: 2px 2px 10px rgba(0,0,0,.4), 2px 2px 15px rgba(0,0,0,.2);
}



