<div class="footer">
  <div class="row row-footer">
  <div class="col col-footer">
    <h4>Société</h4>
      <li><a data-testid="about-button-footer" href="#">Informations</a></li>
      <li><a data-testid="media-button-footer" href="#">Presse</a></li>
      <li><a data-testid="careers-button-footer" href="#">Offres d'emplois</a></li>
    </div>
    <div class="col col-footer">
      <h4>Mon compte</h4>
        <li><a data-testid="signup-button-footer" href="#">S'inscrire</a></li>
        <li><a data-testid="login-button-footer" href="#">Se connecter</a></li>
        <li><a data-testid="forgot-password-button-footer" href="#">Password</a></li>
        <li><a data-testid="deposit-button-footer" href="#">Mon compte</a></li>
     </div>
     <div class="col col-footer">
        <h4>Aide</h4>
        <li><a data-testid="faq-button-footer" href="#" target="_blank">FAQ</a></li>
        <li><a data-testid="contact-us-button-footer" href="#">Contactez-nous</a></li>
     </div>
     <div class="col col-footer">
      <h4>Sécurité</h4>
        <li><a data-testid="insurance-button-footer" href="#">Vos données</a></li>
        <li><a data-testid="privacy-button-footer" href="#" target="_blank">Confidentialité</a></li>
        <li><a data-testid="cgu-button-footer" href="#" target="_blank">Mentions légales</a>/<a data-testid="cpu-button-footer" href="https://support.ouicar.fr/hc/fr/articles/360004863518" target="_blank">CPU</a></li>
        <li><a data-testid="cookies-chart-button-footer" href="#" target="_blank">Politique de cookies</a></li>
     </div>
  <div class="col col-footer">
    <div class="copyright">
    <p>© 2020 Hello Arsène Tous droits réservés</p>
  </div>
  </div>
</div>
</div>
