<div class="joke-container mt-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dv7b712cp/image/upload/v1582889445/psg_lqksos.jpg);">
  <div class ="joke-container-text">
    <p style="font-size: 28px;">Si Hello Arsène avait une app mobile, nous aurions battu Dortmund au match aller"</p>
    <p style="font-size: 22px;">Thomas Tuchel, entraineur du PSG</p>
    <%= link_to "Gérer mon équipe", @path, class:"btn btn-success rounded btn-lg"%>
  </div>
</div>
