<div class="joke-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dv7b712cp/image/upload/v1582889445/psg_lqksos.jpg);">
  <div class ="joke-container-text">
    <p>"Si Hello Arsène avait une app mobile, nous aurions battu Dortmund au match aller"</p>
    <p>Thomas Tuchel, entraineur du PSG</p>
  </div>
</div>
