.footer {
    list-style: none;
    background-color: #333333;
    color: white;
    font-size: 12px;
}

a {
  color: white;
}

.copyright {
  vertical-align: bottom;
}

.copyright img {
  width: 100px;
}
