.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: #333333;
  box-shadow: 0px 1px 5px black;
  padding: 5px 15px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  overflow: hidden;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #1EDD88;
}

.navbar-lewagon .navbar-brand img {
  width: 250px;
}

.brand {
  font-size: 30px;
  font-family: Titillium web;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px white;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.brand:hover {
  font-size: 30px;
  font-family: Titillium web;
  color: white;
  margin-bottom: 0px;
}

#navbarDropdown {
  margin-left: 15px;
}
