.card-player {
  height: 450px;
  width: 280px;
  border-radius: 4px;
  background-color: white;
}

.card-player img {
  height: 280px;
  width: 280px;
  border-radius: 4px 4px 0px 0px;
  object-fit: cover;
}

.card-player .number {
  font-size: 25px;


}
