.card-player {
  margin: 7px;
  height: 450px;
  width: 280px;
  border-radius: 4px;
  background-color: #3E3E3E;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.card-player img {
  height: 280px;
  width: 280px;
  border-radius: 4px 4px 0px 0px;
  object-fit: cover;
  filter: grayscale(0.8);
  z-index: 2;
  object-position: center;
}

.card-player .number {
  width: 150px;
  font-size: 175px;
  font-weight: bolder;
  color: rgba(253, 8, 15, 0.0);
  z-index: 5;
  vertical-align: top;
  text-align: end;
  position: absolute;
  top: 27%;
  left: 68%;
  margin-left: -150px;
  transition: all 0.6s ease-in-out;
}

.player-first-name{
  color: #1EDD88;
  margin-bottom: 2px;
}

.player-last-name{
  color: #fff;
}

.player-post{
  color: #fff;
}

.card-player:hover .number {
  color: rgba(253, 8, 15, 0.8);
  transition: all 0.6s ease-in-out;
}


.card-player:hover img {
  height: 110%;
  width: 110%;
  border-radius: 4px 4px 0px 0px;
  object-fit: cover;
  filter: grayscale(0.8), brightness(0.6);
  z-index: 2;
  transition: all 0.6s ease-in-out;
  // object-position: center;
  text-align: center;
  opacity: 0.6;
}
