.cards {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}

.card-category h3 {
  margin-top: 12px;
  color: white;
  font-size: 24px;
}

.card-category h5 {
  margin-left: 6px;
  margin-bottom: 6px;
  color: white;
  font-size: 16px;
}

.card-category p {
  margin-top: 16px;
  color: white;
  font-size: 16px;
}

.edit-button {
  text-align: center;

}
