// .cards {
//   margin-top: 20px;
//   margin-bottom: 20px;
// }

.card-training-exercise {
  background-color: transparent;
  padding: 0px 10px 10px;
  border-bottom: 1px solid white;
}

.card-training-exercise h3 {
  margin-top: 12px;
  color: white;
  font-size: 14px;
}

// .card-training-exercise h5 {
//   margin-left: 6px;
//   margin-bottom: 6px;
//   color: white;
//   font-size: 13px;
// }

.card-training-exercise p {
  margin-top: 16px;
  color: white;
  font-size: 12px;
}

.edit-image {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
}

.edit-button {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
  margin-right: 5px;
}

.delete-button img{
  margin-left: 5px;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
}

.modal_edit_training_exercise .modal-content{
  width: 500px;
  height: 350px;
  background-color: #333333;
}

// .edit-button {
//   background-color: #1EDD8880;
//   text-align: center;
//   vertical-align: middle;
//   width: 60px;
//   height: 30px;
//   color: #333333;
//   border: none;
//   margin: 3px;
// }

// .delete-button {
//   background-color: #84142d80;
//   padding-top: 2px;
//   text-align: center;
//   vertical-align: middle;
//   width: 60px;
//   height: 30px;
//   color: #ffffff;
//   border: none;
//   margin: 3px;
// }

.modal-body-exercise {
  width: 800px;
  max-height: 700px;
}

.modal-header-exercise {
  width: 800px;
  height: 45px;
}

.duration_training_exercise {
  display: flex;
  justify-content: center;
}

#new_training_exercise .search {
    width: 100px;
    height: 35px;
    background-color: #1EDD88;
    border-radius: 6px;
    color: black;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}
