.training-basket {
  width: 200px;
  height: 50px;
  background-color: #333333;
  border-radius: 4px;
  z-index: 8888;
}

.training-basket h1 {
  font-family: ZCOOL QingKe HuangYou;
  font-size: 25px;
  color: rgba(253, 8, 15, 0.8);
}

.training-name {
  color: #1EDD88;
  font-size: 40px;
  font-weight: bolder;
  font-family: ZCOOL QingKe HuangYou;
}

